# ENV
.env

# Output
dist
.tanstack

# AWS
.aws-sam
cdk.out

# Puppeteer
.puppeteer

# Dependencies
node_modules

# Nx
.nx
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Env
.env*

# System Files
.DS_Store
Thumbs.db

# sst
.sst
sst-env.d.ts
