# Output
dist
bin
obj
build

# AWS
.aws-sam

# Gradle
.gradle

# Dependencies
node_modules

# Nx
.nx/installation
.nx/cache
.nx/workspace-data

# Parcel
.parcel-cache

# Env
.env

# System Files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
