# Output
dist

# AWS
.aws-sam
cdk.out

# Puppeteer
.puppeteer

# Dependencies
node_modules

# Nx
.nx/installation
.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Env
.env

# System Files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
