name: service-scrape_function-scrape_locality
services:
  function-scrape_locality:
    build:
      context: ./
    env_file:
      - ../../../.env
    environment:
      suburb_name: Dandenong
      state_abbreviation: VIC
      postcode: 3175
    deploy:
      resources:
        limits:
          # Smallest valid fargate instance
          cpus: '1'
          memory: 2048m
    restart: no
