name: ci-clean

on:
  delete

jobs:
  remove-test-infra:
    name: Remove SST - removes test infrastructure
    if: github.event.ref_type == 'branch'
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Deep checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dependencies Nx
        uses: ./.github/actions/setup-cd

      - name: Cache .sst folder
        uses: actions/cache@v4
        with:
          path: .sst
          key: sst-cache-${{ github.job }}-${{ github.run_id }}
          restore-keys: |
            sst-cache-${{ github.job }}-
            sst-cache-

      - name: Remove SST infrastructure
        run: pnpm sst remove --stage ${{ github.event.ref }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
