name: ci

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      # Run again to set cache - https://docs.github.com/en/actions/reference/workflows-and-actions/dependency-caching#example-of-search-priority
      - main

jobs:
  test-fast:
    name: Test fast - linting all and testing libraries
    runs-on: ubuntu-24.04-arm
    continue-on-error: true
    steps:
      - name: Deep checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dependencies Nx
        uses: ./.github/actions/setup-ci

      - name: Lint all
        run: pnpm lint

      - name: Type test all
        run: pnpm nx affected -t test:type

      - name: Unit test libraries
        run: pnpm nx affected -t test:unit --exclude='*,!**/lib-*'

  test-functions:
    name: Test functions - testing all lambda functions
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Deep checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dependencies Nx
        uses: ./.github/actions/setup-ci

      - name: Unit test functions
        continue-on-error: true
        run: pnpm nx affected -t test:unit --exclude='*,!**/function-*'

  test-sst:
    name: Test SST - infrastructure deployment
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Deep checkout branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dependencies Nx
        uses: ./.github/actions/setup-ci

      - name: Cache .sst folder
        uses: actions/cache@v4
        with:
          path: .sst
          key: sst-cache-${{ github.job }}-${{ github.run_id }}
          restore-keys: |
            sst-cache-${{ github.job }}-
            sst-cache-

      - name: Deploy SST infrastructure
        run: pnpm sst deploy --print-logs --continue --stage ${{ github.head_ref }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DB_SERVICE_SCRAPE: ${{ secrets.DB_SERVICE_SCRAPE }}
          OTEL_EXPORTER_OTLP_ENDPOINT: ${{ secrets.OTEL_EXPORTER_OTLP_ENDPOINT }}
          OTEL_EXPORTER_OTLP_HEADERS: ${{ secrets.OTEL_EXPORTER_OTLP_HEADERS }}
          VITE_CLERK_PUBLISHABLE_KEY: ${{ secrets.VITE_CLERK_PUBLISHABLE_KEY }}
          VITE_API_URL: https://www.${{ github.event.ref }}.dev.newhomie.com

      # TODO: add integration test scripts
      - name: Test
        run: echo 'TODO'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
